In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# read all csv

sales_data = pd.read_csv('../input/competitive-data-science-predict-future-sales/sales_train.csv')
item_cat = pd.read_csv('../input/competitive-data-science-predict-future-sales/item_categories.csv')
items = pd.read_csv('../input/competitive-data-science-predict-future-sales/items.csv')
shops = pd.read_csv('../input/competitive-data-science-predict-future-sales/shops.csv')
test_data = pd.read_csv('../input/competitive-data-science-predict-future-sales/test.csv')

In [3]:
sales_data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
dataset = sales_data.pivot_table(index=['shop_id', 'item_id'], 
                                 values=['item_cnt_day'], 
                                 columns=['date_block_num'], 
                                 fill_value=0, 
                                 aggfunc='sum'
                                )

In [7]:
dataset.reset_index(inplace=True)

In [8]:
dataset.head()

               shop_id item_id item_cnt_day                        ...        \
date_block_num                            0   1  2  3  4  5  6  7  ... 24 25
0                    0      30            0  31  0  0  0  0  0  0  ...  0  0
1                    0      31            0  11  0  0  0  0  0  0  ...  0  0
2                    0      32            6  10  0  0  0  0  0  0  ...  0  0
3                    0      33            3   3  0  0  0  0  0  0  ...  0  0
4                    0      35            1  14  0  0  0  0  0  0  ...  0  0


date_block_num 26 27 28 29 30 31 32 33
0               0  0  0  0  0  0  0  0
1               0  0  0  0  0  0  0  0
2               0  0  0  0  0  0  0  0
3               0  0  0  0  0  0  0  0
4               0  0  0  0  0  0  0  0

[5 rows x 36 columns]

In [9]:
dataset = pd.merge(test_data, dataset, on=['item_id', 'shop_id'], how='left')

/opt/conda/lib/python3.7/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:3887: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [10]:
dataset.fillna(0, inplace=True)

In [11]:
dataset.head()

,ID,shop_id,item_id,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0,5,5037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,1,5,5320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,3,5,5232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,5,5268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
dataset.drop(['ID', 'shop_id', 'item_id'], inplace=True, axis=1)
dataset.head()

,"(item_cnt_day, 0)","(item_cnt_day, 1)","(item_cnt_day, 2)","(item_cnt_day, 3)","(item_cnt_day, 4)","(item_cnt_day, 5)","(item_cnt_day, 6)","(item_cnt_day, 7)","(item_cnt_day, 8)","(item_cnt_day, 9)",...,"(item_cnt_day, 24)","(item_cnt_day, 25)","(item_cnt_day, 26)","(item_cnt_day, 27)","(item_cnt_day, 28)","(item_cnt_day, 29)","(item_cnt_day, 30)","(item_cnt_day, 31)","(item_cnt_day, 32)","(item_cnt_day, 33)"
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,2.0,0.0,1.0,3.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
x_train = np.expand_dims(dataset.values[:,:-1], axis=2)
y_train = dataset.values[:,-1:]

In [15]:
x_test = np.expand_dims(dataset.values[:,1:], axis=2)

In [16]:
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout

In [17]:
model = Sequential([
    LSTM(64, input_shape=(33,1)),
    Dropout(0.4),
    Dense(1)
])

In [18]:
model.compile(loss='mse', metrics=['mae'])

In [19]:
model.fit(x_train, y_train, batch_size=512, epochs=10)

Epoch 1/10
419/419 [==============================] - 2s 5ms/step - loss: 29.9638 - mae: 0.3826
Epoch 2/10
419/419 [==============================] - 2s 5ms/step - loss: 29.8095 - mae: 0.3773
Epoch 3/10
419/419 [==============================] - 2s 4ms/step - loss: 29.5424 - mae: 0.3760
Epoch 4/10
419/419 [==============================] - 2s 4ms/step - loss: 29.4240 - mae: 0.3761
Epoch 5/10
419/419 [==============================] - 2s 5ms/step - loss: 29.1353 - mae: 0.3755
Epoch 6/10
419/419 [==============================] - 2s 5ms/step - loss: 29.1259 - mae: 0.3756
Epoch 7/10
419/419 [==============================] - 2s 5ms/step - loss: 29.0329 - mae: 0.3744
Epoch 8/10
419/419 [==============================] - 2s 4ms/step - loss: 28.9046 - mae: 0.3742
Epoch 9/10
419/419 [==============================] - 2s 4ms/step - loss: 28.7349 - mae: 0.3738
Epoch 10/10
419/419 [==============================] - 2s 4ms/step - loss: 29.0138 - mae: 0.3749

In [20]:
predictions = model.predict(x_test)

In [22]:
submission = pd.DataFrame({'ID' : test_data['ID'], 'item_cnt_month' : predictions.ravel()})

In [ ]:
submission.to_csv('pred.csv', index=False)